* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 25px;
  background-color: #ffffff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
 }

.background {
  width: 80%;
  border: 1px solid #00000020;
  border-radius: 10px;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.image {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px
}

.title {
  text-align: center;
  font-size: 5rem;
  color: #000000dd;
}

.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.likes {
  font-weight: 600;
}

.like-button {
  color: rgb(255, 68, 0);
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}


.comment {
  list-style-type: none;
  padding-left: 10px;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.comment-form {
  width: 50;
  border-top: 1px solid #00000020;
  padding: 10px;
  margin-top: 10px;
}

.comment-input {
  width: 95%;
  border: 1px solid #00000020;
  border-radius: 10pz;
  font-size: 0.8rem;
}

.comment-input:focus {
  outline: none;
}


.comment-button {
  color: rgb(53, 60, 98);
  cursor: pointer;
}


.paragraph{
  font-size: 1.5rem;
  text-align: left;
  padding: 10px;
}


#drinks {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}  


.list-item {
font-size: 1.5rem;
padding-bottom: 30px;
}


